<html>
    <body>
        <form method = 'post' action = '/processing1'>
            Marks in your maths subject: <input type = 'number' name = 'txt3'/>
            <input type = 'submit'/>
        </form>
    </body>
</html>